<html>
    <head>Shows</head>
    <body>
        <ul>
            <% shows.each do |show, data| %>
                <li><a href="/show/<%= show %>"><%= data['title'] %></a></li>
            <% end %>
        </ul>
    </body>
</html>